## Load packages

In [197]:
import numpy as np
import pandas as pd
from transformers import AutoConfig, AutoTokenizer, AutoModelForMaskedLM, AutoModel

/Users/yichengli/anaconda3/envs/machine-learning-env/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.

## Load Data

In [198]:
# Read in data and set index_col to 'job_id'
fake_job_data = pd.read_csv('../dataset/fake_job_postings.csv', index_col = 'job_id')

In [199]:
# print a few lines to preview the dataset
fake_job_data.head(2)

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,,,,,,,,
1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0

In [4]:
# check dataset shape
fake_job_data.shape

(17880, 17)

In [5]:
# check column types
fake_job_data.dtypes

title                  object
location               object
department             object
salary_range           object
company_profile        object
description            object
requirements           object
benefits               object
telecommuting           int64
has_company_logo        int64
has_questions           int64
employment_type        object
required_experience    object
required_education     object
industry               object
function               object
fraudulent              int64
dtype: object

In [8]:
# Check missingness
## Check missing in target variables
target_missing = fake_job_data.fraudulent.isnull().sum()
print(f'# of target missing: {target_missing}')

## Check feature columns missing
fake_job_data.isnull().sum()

# of target missing: 0

title                      0
location                 346
department             11547
salary_range           15012
company_profile         3308
description                1
requirements            2695
benefits                7210
telecommuting              0
has_company_logo           0
has_questions              0
employment_type         3471
required_experience     7050
required_education      8105
industry                4903
function                6455
fraudulent                 0
dtype: int64

In [89]:
fake_job_data.salary_range[fake_job_data.salary_range.notnull()]

job_id
7          20000-28000
11       100000-120000
16       120000-150000
24       100000-120000
32         50000-65000
             ...
17845              0-0
17850     80000-100000
17866      18000-20000
17868      18000-19000
17875     80000-100000
Name: salary_range, Length: 2868, dtype: object

In [95]:
fake_job_data['salary_range'].loc[7].split('-')

['20000', '28000']

In [109]:
fake_job_data['salary_range'] = fake_job_data['salary_range'].astype(str)

In [99]:
fake_job_data.salary_mean.head(2)

job_id
1    <class 'float'>
2    <class 'float'>
Name: salary_mean, dtype: object

In [19]:
# Check unbalanceness
## Check target value unbalanceness
target_count = fake_job_data.fraudulent.value_counts()
print(f'Fraudulent proportion: {target_count[1]/fake_job_data.shape[0]*100:.2f}%. The target is highly unbalanced!')

Fraudulent proportion: 4.84%. The target is highly unbalanced!

## Data Preprocessing

### Missing Value Imputation

In [ ]:
# Missing value imputation
## Note here missing is not MAR at all since missing might be a great indicator of fraudulent occupation

In [77]:
# Missing value - industry
print(fake_job_data.industry.nunique())
print(fake_job_data.industry.isnull().sum())

131
4903

In [86]:
fake_job_data.groupby('industry')['title'].count().sort_values(ascending = False)

industry
Information Technology and Services    1734
Computer Software                      1376
Internet                               1062
Marketing and Advertising               828
Education Management                    822
                                       ...
Shipbuilding                              1
Alternative Dispute Resolution            1
Ranching                                  1
Wine and Spirits                          1
Sporting Goods                            1
Name: title, Length: 131, dtype: int64

### Feature Engineering

In [62]:
# Split location feature into three
fake_job_data[['country', 'state', 'city']] = fake_job_data.location.str.split(', ', 2,expand = True)
fake_job_data.groupby('country').size()
fake_job_data[['country', 'state', 'city']] = fake_job_data[['country', 'state', 'city']].astype(str)
fake_job_data[['country', 'state', 'city']] = fake_job_data[['country', 'state', 'city']].replace('', 'Unknown')

## Encoding

### Encoding should be done after the train test split

In [67]:
# Target encoding for country by ratio of fradulent (need to do this after the train)
fake_job_data['country_fraudulent_ratio'] = fake_job_data.groupby('country')['fraudulent'].transform(lambda x: (x == 1).sum()/x.count())

In [69]:
fake_job_data.sort_values('country_fraudulent_ratio', ascending=False)

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,...,employment_type,required_experience,required_education,industry,function,fraudulent,country,state,city,country_fraudulent_ratio
job_id,,,,,,,,,,,,,,,,,,,,,
860,Executive/Head Chef,"MY, ,",NaN,65000-80000,Le Meridien is situated in the heart of kuala ...,Responsible for all food production including ...,Skills and Specifications: * Must have a pa...,NaN,0,1,...,Contract,Executive,NaN,Hospitality,NaN,1,MY,Unknown,Unknown,0.571429
8035,Otak2 2014 Cohort (Round 1),"MY, 10,",NaN,NaN,NaN,The Otak-Otak Program will be built around a f...,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,0,MY,10,Unknown,0.571429
14979,Business Analyst / Solutions Consultant (Malay...,"MY, , Kuala Lumpur - Sentral",Software Products - Solutions,70000-100000,Want to be part of a NZ success story that’s g...,Evaluate and document business needs and techn...,To be successful in this role you will need to...,"We are in an exciting growth phase, if you wou...",0,1,...,Full-time,Mid-Senior level,Associate Degree,Information Technology and Services,Business Analyst,0,MY,Unknown,Kuala Lumpur - Sentral,0.571429
9104,Rooms Division Manager,"MY, ,",NaN,NaN,Awarded by Expatriate Lifestyle Magazine with ...,The Rooms Division Manager is responsible for ...,High school or equivalent education required. ...,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,1,MY,Unknown,Unknown,0.571429
6636,Executive Chef,"MY, ,",NaN,NaN,NaN,Responsible for all food production including ...,Skills and Specifications: * Must have a pa...,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,1,MY,Unknown,Unknown,0.571429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15237,Developer,"GR, I, Athens",Engineering,NaN,Workable is a venture-backed startup making cl...,Workable is a product-driven software company....,"To be considered seriously, you will also have...",Our goal is to create a company where employee...,0,1,...,Full-time,Not Applicable,Bachelor's Degree,Computer Software,Engineering,0,GR,I,Athens,0.000000
1828,Senior Java Developer,"GR, ,",NaN,NaN,Accepted Ltd. was founded in 2004 with the aim...,"As a Senior Java engineer, you will participat...",Minimum 4-6 years of professional development ...,"Competitive salary, and incentives according t...",0,1,...,Full-time,Associate,Bachelor's Degree,Information Technology and Services,Information Technology,0,GR,Unknown,Unknown,0.000000
4438,User Interface Designer,"DE, BE, Berlin",Product,NaN,Babbel enables anyone to learn languages in an...,We are looking for an experienced Interaction ...,A strong and diverse portfolio that demonstrat...,We offer you:Strong impact in designing a prod...,0,1,...,Full-time,NaN,NaN,E-Learning,Product Management,0,DE,BE,Berlin,0.000000
10953,Dutch Market Developer for Uniplaces.com,"PT, 11, Lisbon",NaN,NaN,"We are an international, venture backed team m...",UniPlacesEntrepreneur in Residence for the Dut...,Market knowledge about the Dutch educational s...,What you getDirect contact with the senior tea...,0,1,...,Full-time,Internship,NaN,Internet,NaN,0,PT,11,Lisbon,0.000000
17880,Web Application Developers,"NZ, N, Wellington",Engineering,NaN,Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,NaN,0,1,...,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,0,NZ,N,Wellington,0.000000

In [184]:
data = {'Group': ['A', 'A', 'B', 'A', 'B', 'B', 'A', 'B'],
        'Value': [10, np.nan, 5, 20, np.nan, 15, 30, 0],
        'Value2': [3,2,np.nan,3,2,2,3,1]}
df = pd.DataFrame(data)

In [185]:
df

  Group  Value  Value2
0     A   10.0     3.0
1     A    NaN     2.0
2     B    5.0     NaN
3     A   20.0     3.0
4     B    NaN     2.0
5     B   15.0     2.0
6     A   30.0     3.0
7     B    0.0     1.0

In [186]:
df['ratio'] = df['Value2'] / df['Value']

In [187]:
df

  Group  Value  Value2     ratio
0     A   10.0     3.0  0.300000
1     A    NaN     2.0       NaN
2     B    5.0     NaN       NaN
3     A   20.0     3.0  0.150000
4     B    NaN     2.0       NaN
5     B   15.0     2.0  0.133333
6     A   30.0     3.0  0.100000
7     B    0.0     1.0       inf

In [196]:
df.groupby('Group')['ratio'].apply(lambda x: x)

0    0.300000
1         NaN
2         NaN
3    0.150000
4         NaN
5    0.133333
6    0.100000
7         inf
Name: ratio, dtype: float64

In [182]:
data = {
    "Category": ["A", "B", "A", "B", "A", "B"],
    "Value1": [1, 5, 3, 7, 5, 9],
    "Value2": [6, 10, 8, 12, 10, 14]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Custom function to normalize columns within each group
def normalize_within_group(group):
    return (group - group.mean()) / group.std()

# Using groupby and apply to normalize multiple columns
result = df.groupby("Category")[['Value1', 'Value2']].apply(normalize_within_group)

# Display the result
print(result)

   Value1  Value2
0    -1.0    -1.0
1    -1.0    -1.0
2     0.0     0.0
3     0.0     0.0
4     1.0     1.0
5     1.0     1.0

## Text Preprocessing

### Tokenization

In [200]:
MODEL_NAME = "xlm-roberta-large"
roberta_tokenizer = AutoTokenizer.from_pretrained(MODEL_NAME)

Downloading (…)lve/main/config.json: 100%|██████████| 616/616 [00:00<00:00, 79.9kB/s]
Downloading (…)tencepiece.bpe.model: 100%|██████████| 5.07M/5.07M [00:00<00:00, 13.6MB/s]
Downloading (…)/main/tokenizer.json: 100%|██████████| 9.10M/9.10M [00:00<00:00, 15.9MB/s]

In [201]:
row = fake_job_data.iloc[0]

In [205]:
row.company_profile

"We're Food52, and we've created a groundbreaking and award-winning cooking site. We support, connect, and celebrate home cooks, and give them everything they need in one place.We have a top editorial, business, and engineering team. We're focused on using technology to find new and better ways to connect people around their specific food interests, and to offer them superb, highly curated information about food and cooking. We attract the most talented home cooks and contributors in the country; we also publish well-known professionals like Mario Batali, Gwyneth Paltrow, and Danny Meyer. And we have partnerships with Whole Foods Market and Random House.Food52 has been named the best food website by the James Beard Foundation and IACP, and has been featured in the New York Times, NPR, Pando Daily, TechCrunch, and on the Today Show.We're located in Chelsea, in New York City."

In [206]:
encoding = roberta_tokenizer(str(row.company_profile), padding='max_length', 
                            truncation=True, max_length=512)

encoding = {key: val for key, val in encoding.items()}

In [212]:
encoding['input_ids']

[0,
 1401,
 25,
 107,
 34562,
 12744,
 4,
 136,
 642,
 25,
 272,
 75935,
 10,
 61585,
 70751,
 214,
 136,
 70318,
 9,
 69986,
 179065,
 1764,
 5,
 1401,
 8060,
 4,
 37067,
 4,
 136,
 176016,
 5368,
 110309,
 7,
 4,
 136,
 8337,
 2856,
 26818,
 1836,
 3871,
 23,
 1632,
 3687,
 5,
 12137,
 765,
 10,
 2663,
 68669,
 4,
 8063,
 4,
 136,
 177907,
 7175,
 5,
 1401,
 25,
 107,
 162393,
 98,
 17368,
 55556,
 47,
 7413,
 3525,
 136,
 11522,
 48322,
 47,
 37067,
 3395,
 10932,
 2363,
 29458,
 15381,
 33946,
 7,
 4,
 136,
 47,
 18645,
 2856,
 133924,
 4,
 103210,
 84553,
 297,
 4677,
 1672,
 15381,
 136,
 179065,
 5,
 1401,
 110281,
 70,
 2684,
 12348,
 297,
 5368,
 110309,
 7,
 136,
 22231,
 22230,
 23,
 70,
 23295,
 74,
 642,
 2843,
 80299,
 5299,
 9,
 69723,
 19,
 50582,
 1884,
 30883,
 199437,
 14,
 4,
 195511,
 12421,
 12530,
 18,
 15555,
 4,
 136,
 139020,
 134816,
 5,
 3493,
 642,
 765,
 165410,
 7,
 678,
 40469,
 133,
 34562,
 7,
 30318,
 136,
 39643,
 306,
 13038,
 5,
 204246,
 12744,
 1556,
 2809,
 24,
 4806,
 70,
 2965,
 15381,
 4165,
 390,
 70,
 14631,
 873,
 5861,
 32807,
 136,
 87,
 284,
 17854,
 4,
 136,
 1556,
 2809,
 60213,
 71,
 23,
 70,
 2356,
 5753,
 19114,
 4,
 541,
 17255,
 4,
 1342,
 557,
 23865,
 4,
 36630,
 441,
 16428,
 206,
 4,
 136,
 98,
 70,
 38396,
 17367,
 5,
 12137,
 25,
 107,
 105866,
 23,
 44517,
 4,
 23,
 2356,
 5753,
 6406,
 5,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [213]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [214]:
tfidf = TfidfVectorizer(analyzer="char", ngram_range=(4, 4), min_df=2)

In [216]:
fake_job_data['company_profile'] = fake_job_data['company_profile'].fillna('')

In [217]:
tfidf.fit(fake_job_data['company_profile'])

TfidfVectorizer(analyzer='char', min_df=2, ngram_range=(4, 4))

In [218]:
tfidf.vocabulary_

{"we'r": 64491,
 "e're": 33467,
 "'re ": 4289,
 're f': 55829,
 'e fo': 33203,
 ' foo': 1611,
 'food': 39659,
 'ood5': 52593,
 'od52': 51640,
 'd52,': 31171,
 '52, ': 14630,
 '2, a': 10366,
 ', an': 4959,
 ' and': 940,
 'and ': 24362,
 'nd w': 49360,
 'd we': 30565,
 " we'": 3149,
 "we'v": 64492,
 "e've": 33470,
 "'ve ": 4345,
 've c': 63864,
 'e cr': 33159,
 ' cre': 1248,
 'crea': 29921,
 'reat': 55928,
 'eate': 34832,
 'ated': 25218,
 'ted ': 60858,
 'ed a': 35200,
 'd a ': 30338,
 ' a g': 807,
 'a gr': 21772,
 ' gro': 1709,
 'grou': 40896,
 'roun': 56840,
 'ound': 53390,
 'undb': 63030,
 'ndbr': 49416,
 'dbre': 31830,
 'brea': 27457,
 'reak': 55922,
 'eaki': 34730,
 'akin': 23870,
 'king': 45099,
 'ing ': 43517,
 'ng a': 49823,
 'g an': 39940,
 'nd a': 49338,
 'd aw': 30359,
 ' awa': 1024,
 'awar': 25424,
 'ward': 64415,
 'ard-': 24749,
 'rd-w': 55756,
 'd-wi': 30703,
 '-win': 5949,
 'winn': 64633,
 'inni': 43591,
 'nnin': 50241,
 'ning': 50079,
 'ng c': 49825,
 'g co': 39964,
 ' coo': 1233,
 'cook': 29846,
 'ooki': 52620,
 'okin': 51992,
 'ng s': 49841,
 'g si': 40084,
 ' sit': 2768,
 'site': 59027,
 'ite.': 44250,
 'te. ': 60831,
 'e. w': 33645,
 '. we': 6178,
 ' we ': 3148,
 'we s': 64483,
 'e su': 33330,
 ' sup': 2847,
 'supp': 59777,
 'uppo': 63201,
 'ppor': 54571,
 'port': 54495,
 'ort,': 53032,
 'rt, ': 57163,
 't, c': 60320,
 ', co': 4993,
 ' con': 1232,
 'conn': 29840,
 'onne': 52467,
 'nnec': 50233,
 'nect': 49624,
 'ect,': 35165,
 'ct, ': 30056,
 't, a': 60318,
 'nd c': 49340,
 'd ce': 30374,
 ' cel': 1190,
 'cele': 29236,
 'eleb': 36008,
 'lebr': 46226,
 'ebra': 34994,
 'brat': 27452,
 'rate': 55593,
 'ate ': 25207,
 'te h': 60797,
 'e ho': 33219,
 ' hom': 1785,
 'home': 41949,
 'ome ': 52187,
 'me c': 47839,
 'e co': 33157,
 'ooks': 52625,
 'oks,': 52000,
 'ks, ': 45207,
 's, a': 57970,
 'nd g': 49344,
 'd gi': 30421,
 ' giv': 1678,
 'give': 40675,
 'ive ': 44402,
 've t': 63881,
 'e th': 33337,
 ' the': 2898,
 'them': 61123,
 'hem ': 41640,
 'em e': 36127,
 'm ev': 47397,
 ' eve': 1536,
 'ever': 37473,
 'very': 63985,
 'eryt': 36938,
 'ryth': 57470,
 'ythi': 65923,
 'thin': 61136,
 'hing': 41786,
 'ng t': 49842,
 'g th': 40097,
 'they': 61131,
 'hey ': 41702,
 'ey n': 37659,
 'y ne': 65272,
 ' nee': 2292,
 'need': 49636,
 'eed ': 35534,
 'ed i': 35208,
 'd in': 30445,
 ' in ': 1869,
 'in o': 43387,
 'n on': 48748,
 ' one': 2423,
 'one ': 52396,
 'ne p': 49550,
 'e pl': 33298,
 ' pla': 2537,
 'plac': 54386,
 'lace': 45885,
 'ace.': 23094,
 'ce.w': 29131,
 'e.we': 33739,
 '.we ': 6706,
 'we h': 64472,
 'e ha': 33215,
 ' hav': 1742,
 'have': 41522,
 'ave ': 25372,
 've a': 63862,
 'e a ': 33116,
 ' a t': 820,
 'a to': 21852,
 ' top': 2930,
 'top ': 61528,
 'op e': 52707,
 'p ed': 53772,
 ' edi': 1450,
 'edit': 35383,
 'dito': 32524,
 'itor': 44312,
 'tori': 61550,
 'oria': 52934,
 'rial': 56242,
 'ial,': 42497,
 'al, ': 23930,
 'l, b': 45536,
 ', bu': 4983,
 ' bus': 1153,
 'busi': 27564,
 'usin': 63516,
 'sine': 59001,
 'ines': 43503,
 'ness': 49704,
 'ess,': 37171,
 'ss, ': 59410,
 'nd e': 49342,
 'd en': 30402,
 ' eng': 1492,
 'engi': 36340,
 'ngin': 49948,
 'gine': 40653,
 'inee': 43494,
 'neer': 49637,
 'eeri': 35624,
 'erin': 36795,
 'ring': 56308,
 'g te': 40096,
 ' tea': 2885,
 'team': 60849,
 'eam.': 34757,
 'am. ': 24162,
 'm. w': 47589,
 ' foc': 1607,
 'focu': 39647,
 'ocus': 51604,
 'cuse': 30171,
 'used': 63500,
 'sed ': 58679,
 'ed o': 35214,
 'd on': 30494,
 ' on ': 2416,
 'on u': 52281,
 'n us': 48809,
 ' usi': 3051,
 'sing': 59003,
 ' tec': 2886,
 'tech': 60854,
 'echn': 35123,
 'chno': 29527,
 'hnol': 41878,
 'nolo': 50300,
 'olog': 52101,
 'logy': 46806,
 'ogy ': 51873,
 'gy t': 41019,
 'y to': 65321,
 ' to ': 2914,
 'to f': 61423,
 'o fi': 51152,
 ' fin': 1590,
 'find': 39567,
 'ind ': 43463,
 'nd n': 49351,
 'd ne': 30481,
 ' new': 2302,
 'new ': 49739,
 'ew a': 37496,
 'w an': 64198,
 'nd b': 49339,
 'd be': 30365,
 ' bet': 1084,
 'bett': 27112,
 'ette': 37392,
 'tter': 61904,
 'ter ': 60944,
 'er w': 36631,
 'r wa': 55251,
 ' way': 3144,
 'ways': 64437,
 'ays ': 25561,
 'ys t': 65878,
 's to': 57836,
 'to c': 61420,
 'o co': 51127,
 'ect ': 35164,
 'ct p': 30044,
 't pe': 60211,
 ' peo': 2507,
 'peop': 54203,
 'eopl': 36493,
 'ople': 52777,
 'ple ': 54395,
 'le a': 46143,
 'e ar': 33131,
 ' aro': 973,
 'arou': 24861,
 'und ': 63024,
 'nd t': 49357,
 'd th': 30539,
 'thei': 61122,
 'heir': 41629,
 'eir ': 35876,
 'ir s': 43883,
 'r sp': 55224,
 ' spe': 2813,
 'spec': 59305,
 'peci': 54166,
 'ecif': 35131,
 'cifi': 29580,
 'ific': 43004,
 'fic ': 39530,
 'ic f': 42593,
 'c fo': 27682,
 'ood ': 52589,
 'od i': 51615,
 ' int': 1892,
 'inte': 43626,
 'nter': 50690,
 'tere': 60957,
 'eres': 36761,
 'rest': 56088,
 'ests': 37212,
 'sts,': 59691,
 'ts, ': 61761,
 'd to': 30541,
 'to o': 61432,
 'o of': 51207,
 ' off': 2397,
 'offe': 51778,
 'ffer': 39494,
 'fer ': 39364,
 'er t': 36628,
 'r th': 55231,
 'em s': 36138,
 'm su': 47479,
 'supe': 59776,
 'uper': 63189,
 'perb': 54211,
 'erb,': 36717,
 'rb, ': 55625,
 'b, h': 25747,
 ', hi': 5064,
 ' hig': 1767,
 'high': 41766,
 'ighl': 43061,
 'ghly': 40584,
 'hly ': 41848,
 'ly c': 47219,
 'y cu': 65199,
 ' cur': 1273,
 'cura': 30159,
 'urat': 63269,
 ' inf': 1880,
 'info': 43515,
 'nfor': 49799,
 'form': 39678,
 'orma': 52980,
 'rmat': 56585,
 'mati': 47763,
 'atio': 25253,
 'tion': 61300,
 'ion ': 43703,
 'on a': 52261,
 'n ab': 48598,
 ' abo': 846,
 'abou': 22994,
 'bout': 27421,
 'out ': 53442,
 'ut f': 63568,
 't fo': 60128,
 'od a': 51607,
 'd an': 30352,
 'd co': 30379,
 'ing.': 43526,
 'ng. ': 49882,
 'g. w': 40218,
 'we a': 64465,
 'e at': 33133,
 ' att': 1009,
 'attr': 25290,
 'ttra': 61924,
 'trac': 61626,
 'ract': 55497,
 'act ': 23183,
 'ct t': 30048,
 't th': 60247,
 'the ': 61116,
 'he m': 41570,
 'e mo': 33261,
 ' mos': 2234,
 'most': 48229,
 'ost ': 53194,
 'st t': 59550,
 't ta': 60245,
 ' tal': 2873,
 'tale': 60633,
 'alen': 23988,
 'lent': 46287,
 'ente': 36410,
 'nted': 50684,
 'ed h': 35207,
 'd ho': 30431,
 'oks ': 51999,
 'ks a': 45186,
 's an': 57657,
 'cont': 29843,
 'ontr': 52523,
 'ntri': 50751,
 'trib': 61660,
 'ribu': 56251,
 'ibut': 42586,
 'buto': 27572,
 'utor': 63653,
 'tors': 61555,
 'ors ': 53016,
 'rs i': 56968,
 's in': 57745,
 'in t': 43392,
 'n th': 48796,
 'he c': 41560,
 ' cou': 1238,
 'coun': 29877,
 'ount': 53394,
 'untr': 63111,
 'ntry': 50754,
 'try;': 61709,
 'ry; ': 57452,
 'y; w': 65597,
 '; we': 21187,
 'e al': 33127,
 ' als': 925,
 'also': 24078,
 'lso ': 47016,
 'so p': 59200,
 'o pu': 51223,
 ' pub': 2571,
 'publ': 54792,
 'ubli': 62467,
 'blis': 27339,
 'lish': 46533,
 'ish ': 44075,
 'sh w': 58862,
 'h we': 41290,
 ' wel': 3158,
 'well': 64539,
 'ell-': 36053,
 'll-k': 46622,
 'l-kn': 45574,
 '-kno': 5763,
 'know': 45154,
 'nown': 50372,
 'own ': 53578,
 'wn p': 64685,
 'n pr': 48763,
 ' pro': 2563,
 'prof': 54649,
 'rofe': 56742,
 'ofes': 51772,
 'fess': 39380,
 'essi': 37180,
 'ssio': 59476,
 'sion': 59010,
 'iona': 43716,
 'onal': 52367,
 'nals': 49137,
 'als ': 24067,
 'ls l': 46950,
 's li': 57761,
 ' lik': 2101,
 'like': 46488,
 'ike ': 43123,
 'ke m': 44956,
 'e ma': 33257,
 ' mar': 2166,
 'mari': 47743,
 'ario': 24814,
 'rio ': 56314,
 'io b': 43671,
 'o ba': 51113,
 ' bat': 1060,
 'bata': 26676,
 'atal': 25195,
 'tali': 60634,
 'ali,': 24005,
 'li, ': 46430,
 'i, g': 42368,
 ', gw': 5057,
 ' gwy': 1722,
 'gwyn': 40997,
 'wyne': 64832,
 'ynet': 65786,
 'neth': 49719,
 'eth ': 37345,
 'th p': 61079,
 'h pa': 41242,
 ' pal': 2483,
 'palt': 54038,
 'altr': 24091,
 'ltro': 47100,
 'trow': 61688,
 'row,': 56853,
 'ow, ': 53534,
 'w, a': 64333,
 'nd d': 49341,
 'd da': 30385,
 ' dan': 1297,
 'dann': 31690,
 'anny': 24453,
 'nny ': 50253,
 'ny m': 50909,
 'y me': 65267,
 ' mey': 2200,
 'meye': 47994,
 'eyer': 37692,
 'yer.': 65703,
 'er. ': 36671,
 'r. a': 55367,
 '. an': 5999,
 've p': 63877,
 'e pa': 33292,
 ' par': 2486,
 'part': 54065,
 'artn': 24905,
 'rtne': 57248,
 'tner': 61396,
 'ners': 49690,
 'ersh': 36887,
 'rshi': 57068,
 'ship': 58902,
 'hips': 41802,
 'ips ': 43839,
 'ps w': 54689,
 's wi': 57857,
 ' wit': 3182,
 'with': 64647,
 'ith ': 44270,
 'th w': 61086,
 'h wh': 41291,
 ' who': 3169,
 'whol': 64595,
 'hole': 41938,
 'ole ': 52053,
 'le f': 46148,
 'oods': 52600,
 'ods ': 51679,
 'ds m': 32771,
 's ma': 57767,
 'mark': 47744,
 'arke': 24826,
 'rket': 56436,
 'ket ': 45032,
 'et a': 37252,
 't an': 60065,
 'nd r': 49355,
 'd ra': 30516,
 ' ran': 2606,
 'rand': 55559,
 'ando': 24379,
 'ndom': 49458,
 'dom ': 32649,
 'om h': 52140,
 'm ho': 47413,
 ' hou': 1792,
 'hous': 42012,
 'ouse': 53435,
 'use.': 63498,
 'se.f': 58654,
 'e.fo': 33692,
 '.foo': 6471,
 'd52 ': 31170,
 '52 h': 14625,
 '2 ha': 10305,
 ' has': 1739,
 'has ': 41496,
 'as b': 24953,
 's be': 57668,
 ' bee': 1075,
 'been': 27049,
 'een ': 35591,
 'en n': 36254,
 'n na': 48731,
 ' nam': 2276,
 'name': 49144,
 'amed': 24201,
 'med ': 47903,
 'ed t': 35219,
 'he b': 41559,
 'e be': 33141,
 ' bes': 1083,
 'best': 27106,
 'est ': 37195,
 'st f': 59536,
 'od w': 51626,
 ' web': 3153,
 'webs': 64520,
 'ebsi': 34998,
 'bsit': 27511,
 'ite ': 44247,
 'te b': 60791,
 'e by': 33149,
 ' by ': 1157,
 'by t': 27609,
 'y th': 65319,
 'he j': 41567,
 'e ja': 33236,
 ' jam': 1965,
 'jame': 44543,
 'ames': 24207,
 'mes ': 47969,
 'es b': 36976,
 ' bea': 1071,
 'bear': 27010,
 'eard': 34797,
 'ard ': 24745,
 'rd f': 55726,
 'd fo': 30416,
 ' fou': 1614,
 'foun': 39688,
 'unda': 63029,
 'ndat': 49412,
 'dati': 31713,
 'n an': 48607,
 'nd i': 49346,
 'd ia': 30438,
 ' iac': 1839,
 'iacp': 42483,
 'acp,': 23175,
 'cp, ': 29894,
 'p, a': 53887,
 'nd h': 49345,
 'd ha': 30427,
 'en f': 36246,
 'n fe': 48669,
 ' fea': 1570,
 'feat': 39318,
 'eatu': 34842,
 'atur': 25292,
 'ture': 61970,
 'ured': 63291,
 'red ': 55947,
 'he n': 41571,
 'e ne': 33269,
 'ew y': 37518,
 'w yo': 64319,
 ' yor': 3241,
 'york': 65809,
 'ork ': 52946,
 'rk t': 56395,
 'k ti': 44766,
 ' tim': 2909,
 'time': 61279,
 'imes': 43329,
 'mes,': 47972,
 'es, ': 37016,
 's, n': 57983,
 ', np': 5138,
 ' npr': 2344,
 'npr,': 50387,
 'pr, ': 54597,
 'r, p': 55310,
 ', pa': 5162,
 ' pan': 2484,
 'pand': 54044,
 'ndo ': 49454,
 'do d': 32595,
 'o da': 51130,
 ' dai': 1293,
 'dail': 31671,
 'aily': 23769,
 'ily,': 43287,
 'ly, ': 47245,
 'y, t': 65413,
 ', te': 5212,
 'echc': 35120,
 'chcr': 29486,
 'hcru': 41539,
 'crun': 29959,
 'runc': 57324,
 'unch': 63020,
 'nch,': 49272,
 'ch, ': 29452,
 'h, a': 41316,
 'nd o': 49352,
 'on t': 52280,
 'he t': 41577,
 'e to': 33339,
 ' tod': 2922,
 'toda': 61479,
 'oday': 51647,
 'day ': 31723,
 'ay s': 25494,
 'y sh': 65307,
 ' sho': 2752,
 'show': 58921,
 'how.': 42019,
 'ow.w': 53544,
 'w.we': 64371,
 ".we'": 6707,
 're l': 55835,
 'e lo': 33252,
 ' loc': 2117,
 'loca': 46787,
 'ocat': 51563,
 'cate': 28782,
 'in c': 43375,
 'n ch': 48629,
 ' che': 1197,
 'chel': 29495,
 'hels': 41638,
 'else': 36098,
 'lsea': 47003,
 'sea,': 58663,
 'ea, ': 34621,
 'a, i': 21930,
 ', in': 5079,
 'in n': 43386,
 'n ne': 48732,
 'rk c': 56381,
 'k ci': 44685,
 ' cit': 1208,
 'city': 29620,
 'ity.': 44355,
 '90 s': 19550,
 '0 se': 7155,
 ' sec': 2728,
 'seco': 58675,
 'econ': 35155,
 'cond': 29834,
 'onds': 52393,
 'nds,': 49477,
 'ds, ': 32786,
 's, t': 57989,
 ', th': 5213,
 'he w': 41580,
 'e wo': 33368,
 ' wor': 3190,
 'worl': 64745,
 'orld': 52968,
 'rlds': 56513,
 'lds ': 46118,
 'ds c': 32763,
 's cl': 57680,
 ' clo': 1213,
 'clou': 29732,
 'loud': 46860,
 'oud ': 53369,
 'ud v': 62552,
 'd vi': 30561,
 ' vid': 3097,
 'vide': 64045,
 'ideo': 42816,
 'deo ': 32210,
 'eo p': 36462,
 'o pr': 51222,
 'prod': 54648,
 'rodu': 56736,
 'oduc': 51684,
 'duct': 32870,
 'ucti': 62533,
 'ctio': 30088,
 'on s': 52279,
 'n se': 48779,
 ' ser': 2739,
 'serv': 58762,
 'ervi': 36921,
 'rvic': 57358,
 'vice': 64039,
 'ice.': 42648,
 'ce.9': 29115,
 'e.90': 33659,
 '.90 ': 6328,
 'nds ': 49473,
 'ds i': 32769,
 's is': 57748,
 ' is ': 1918,
 'is t': 44008,
 's th': 57834,
 'ice ': 42643,
 'ce e': 29061,
 'e en': 33185,
 ' ena': 1487,
 'enab': 36288,
 'nabl': 49106,
 'abli': 22988,
 'blin': 27336,
 'ling': 46504,
 'ng b': 49824,
 'g br': 39956,
 ' bra': 1139,
 'bran': 27449,
 'ands': 24382,
 'ds a': 32761,
 'd ag': 30347,
 ' age': 894,
 'agen': 23665,
 'genc': 40449,
 'enci': 36300,
 'ncie': 49283,
 'cies': 29578,
 'ies ': 42918,
 'es t': 36994,
 'to g': 61424,
 'o ge': 51158,
 ' get': 1666,
 'get ': 40491,
 'et h': 37259,
 't hi': 60146,
 'igh ': 43055,
 'gh q': 40549,
 'h qu': 41250,
 ' qua': 2592,
 'qual': 54926,
 'uali': 62410,
 'alit': 24016,
 'lity': 46542,
 'ity ': 44350,
 'ty o': 62044,
 'y on': 65280,
 ' onl': 2425,
 'onli': 52459,
 'nlin': 50195,
 'line': 46503,
 'ine ': 43480,
 'ne v': 49555,
 'e vi': 33360,
 'eo c': 36453,
 'onte': 52516,
 'nten': 50689,
 'tent': 60933,
 'ent ': 36393,
 'nt s': 50602,
 't sh': 60232,
 'shot': 58918,
 'hot ': 42002,
 'ot a': 53213,
 'nd p': 49353,
 'd pr': 30510,
 'duce': 32866,
 'uced': 62493,
 'ced ': 29212,
 ' any': 949,
 'anyw': 24530,
 'nywh': 50961,
 'ywhe': 65943,
 'wher': 64586,
 'here': 41674,
 'ere ': 36740,
 're i': 55832,
 'e in': 33229,
 'rld.': 56509,
 'ld. ': 46084,
 'd. 9': 30706,
 '. 90': 5988,
 ' 90 ': 754,
 ' mak': 2161,
 'make': 47698,
 'akes': 23865,
 'kes ': 45024,
 'es v': 36996,
 's vi': 57851,
 'on f': 52266,
 'n fa': 48667,
 ' fas': 1563,
 'fast': 38984,
 'ast,': 25102,
 'st, ': 59565,
 ', af': 4952,
 ' aff': 885,
 'affo': 23613,
 'ffor': 39511,
 'ford': 39674,
 'orda': 52895,
 'rdab': 55763,
 'dabl': 31642,
 'able': 22987,
 'ble,': 27316,
 'le, ': 46179,
 'e, a': 33503,
 'd al': 30350,
 ' all': 920,
 'all ': 24028,
 'll m': 46597,
 'l ma': 45416,
 ' man': 2164,
 'mana': 47719,
 'anag': 24342,
 'nage': 49117,
 'aged': 23662,
 'ged ': 40427,
 'ed s': 35218,
 'd se': 30523,
 ' sea': 2727,
 'seam': 58667,
 'eaml': 34764,
 'amle': 24221,
 'mles': 48116,
 'less': 46324,
 'essl': 37181,
 'ssly': 59481,
 'sly ': 59114,
 'ly i': 47225,
 'y in': 65248,
 'e cl': 33155,
 'ud f': 62543,
 'd fr': 30417,
 ' fro': 1620,
 'from': 39727,
 'rom ': 56777,
 'om p': 52148,
 'm pu': 47463,
 ' pur': 2577,
 'purc': 54814,
 'urch': 63275,
 'rcha': 55688,
 'chas': 29482,
 'hase': 41500,
 'ase ': 25017,
 'se t': 58631,
 'to p': 61433,
 'ish.': 44078,
 'sh. ': 58869,
 'h. h': 41373,
 '. ht': 6073,
 ' htt': 1806,
 'http': 42164,
 'ttp:': 61923,
 'tp:/': 61602,
 'p://': 53954,
 '://9': 20953,
 '//90': 6929,
 '/90#': 6952,
 '90#u': 19556,
 '0#ur': 7194,
 '#url': 4144,
 'url_': 63333,
 'rl_f': 56500,
 'l_fb': 45845,
 '_fbe': 21657,
 'fbe6': 39057,
 'be65': 26993,
 'e655': 34248,
 '6559': 16124,
 '559a': 14927,
 '59af': 15209,
 '9afa': 20470,
 'afac': 23570,
 'fac6': 38940,
 'ac62': 23050,
 'c620': 28280,
 '620a': 15872,
 '20a3': 10491,
 '0a3c': 8235,
 'a3cd': 22332,
 '3cd2': 12799,
 'cd2c': 28986,
 'd2c2': 31000,
 '2c22': 11402,
 'c222': 28003,
 '2228': 10621,
 '2281': 10642,
 '281f': 11095,
 '81f7': 18429,
 '1f7b': 10228,
 'f7b8': 38705,
 '7b8d': 17847,
 'b8d0': 26420,
 '8d0e': 19239,
 'd0ee': 30868,
 '0eef': 8590,
 'eef5': 35556,
 'ef56': 35694,
 'f56a': 38537,
 '56a7': 15003,
 '6a73': 16487,
 'a73e': 22592,
 '73e3': 17251,
 '3e3d': 12924,
 'e3d9': 34068,
 '3d9a': 12869,
 'd9a3': 31505,
 '9a31': 20420,
 'a311': 22284,
 '311e': 11899,
 '11e2': 9001,
 '1e2f': 10120,
 'e2f1': 34014,
 '2f1c': 11630,
 'f1ca': 38281,
 '1ca1': 9991,
 'ca13': 28615,
 'a13d': 22139,
 '13d0': 9194,
 '3d08': 12829,
 'd081': 30831,
 '081d': 8052,
 '81dd': 18417,
 '1dd6': 10094,
 'dd63': 31964,
 'd630': 31252,
 '630#': 15947,
 '30#9': 11807,
 '0#90': 7192,
 '#90 ': 4106,
 'ds r': 32775,
 's re': 57810,
 ' rem': 2631,
 'remo': 56033,
 'emov': 36207,
 'move': 48242,
 'oves': 53490,
 'ves ': 63989,
 'he h': 41565,
 'hass': 41504,
 'assl': 25094,
 'ssle': 59480,
 'sle,': 59094,
 'e, c': 33505,
 ' cos': 1236,
 'cost': 29869,
 'ost,': 53195,
 't, r': 60335,
 ', ri': 5183,
 ...}

In [219]:
v_trans = tfidf.transform(fake_job_data['company_profile'])

In [221]:
fake_job_data.shape

(17880, 17)

In [231]:
v_trans[0]

<1x70578 sparse matrix of type '<class 'numpy.float64'>'
	with 700 stored elements in Compressed Sparse Row format>

In [234]:
np.where(np.array([-1,0,1]) != 0)[0]

array([0, 2])